.App {
  margin-top: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App div,
.App img {
  padding: 20px;
  margin: 10px;
}

.App div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.App div p {
  text-align: left;
}

.App div button {
  background-color: #94E4B4;
  padding: 10px;
  width: 100px;
  color: aliceblue;
  border-color: #94E4B4;
}

.quizProcess {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.question {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
}

.question_text {
  background-color: #94E4B4;
  height: 800vh;
}

.options {
  display: flex;

}

.op_text {
  text-align: center;
}

@media screen and (max-width:500px) {
  .App {
    flex-direction: column;
    align-items: center;
  }

  .App div button {
    background-color: #94E4B4;
    padding: 10px;
    width: 100%;
    margin: auto;
  }

}